h1,h2,h3, h4, h5, h6 {
    font-weight: normal;
}

.img{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.carousel-container {
    position: relative;
    width: 100%;
    height: 75%;
    max-height: 450px;
}
@media screen and (max-width: 768px) {
    .carousel-container {
        max-height: 700px;
    }
}
.carousel-container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
}
.carousel-image, .carousel-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}
.carousel-image2 {    
    transition: opacity 1s ease-in-out;
    z-index: 1;
}












